*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

.app{
  min-height:100vh;
  background:linear-gradient(135deg,#667eea,#764ba2);
  padding:20px;
  color:#fff;
}

.home{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.home h1{
  font-size:3rem;
}

.home button{
  margin-top:20px;
}

.dashboard{
  max-width:900px;
  margin:auto;
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.form{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin:20px 0;
}

input,select{
  padding:10px;
  border:none;
  border-radius:8px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#00c853;
  color:white;
}

.task-card{
  background:white;
  color:black;
  padding:15px;
  border-radius:12px;
  margin:10px 0;
  display:flex;
  justify-content:space-between;
}

.delete{
  background:red;
  margin-left:10px;
}

.wishlist{
  display:flex;
  gap:10px;
  margin:15px 0;
}

.wish-card{
  background:white;
  color:black;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

.stats{
  margin-top:20px;
}

.progress{
  width:100%;
  height:20px;
  background:#ddd;
  border-radius:10px;
  overflow:hidden;
  margin-top:10px;
}

.fill{
  height:100%;
  background:#00e676;
}

.dark{
  background:#121212;
}